body, html {
    height: 100%;
    position: relative;
}
body {
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.text-shadow {
    text-shadow: 2px 2px 8px #000;
}

.post-preview a,
.sidebar-container a,
.footer-links a {
    color: #404040;
}
.post-preview a:focus, .post-preview a:hover,
.sidebar-container a:focus, .sidebar-container a:hover,
.footer-links a:focus, .footer-links a:hover,
.blog-tags a:focus, .blog-tags a:hover {
  color: #0085A1;
}

nav.custom-background {
    border-bottom: 1px solid #336699;
    background-color: rgb(51, 102, 153); /*#336699; not sure if add an opacity: .6*/
    transition: transform .3s;
}

.page-header {
    background: no-repeat center center;
    background-attachment: scroll;
    background-color: #336699;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
.page-header .title {
    color: white;
    padding: 85px 0 55px;
    text-align: center;
}
.page-header .title h1 {
    font-size: 50px;
}
.page-header .title .btn-outline-success {
    color: #fff;
}

.main-container .intro-header {
    color: #404040;
    font-size: 1.6875rem;
    line-height: 1.1;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
    font-weight: 400;
}

.sidebar-container {
    color: #808080;
}
.sidebar-container hr {
    color: #eee;
}
.sidebar-container .short-about img {
    width: 100%;
    display: block;
    border-radius: 5px;
    margin-bottom: 20px;
}

.blog-post p > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.blog-post h1, .blog-post h2, .blog-post h3, 
.blog-post h4, .blog-post h5, .blog-post h6 {
    color: #336699;
}

.post-preview {
    border-bottom: 1px solid #eee;
}
.post-preview .post-title {
    font-weight: 800;
    margin-top: 0;
}
.post-preview .post-subtitle {
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
    font-weight: 300;
}
.post-preview .post-meta {
    color: #808080;
    font-size: 1.125rem;
    font-style: italic;
    margin: 0 0 0.625rem;
    font-family: 'Lora', 'Times New Roman', serif;
}
.post-preview .post-read-more {
    font-weight: 800;
}
.blog-tags {
    font-size: 0.9375rem;
}
.blog-tags,
.blog-tags a {
    color: #808080;
}

.pagination > .page-item > .page-link {
    color: #404040;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
}
.pagination > .page-item.next {
    margin-left: auto;
}

table > thead > tr > th {
    color: #606c71
}

table.table-display-block {
    display: block;
    border: unset;
}

code {
    color: #444;
    white-space: nowrap;
}
code, tt {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 2px;
    padding: 0px 5px;
}

.tags-list h2 {
    font-weight: 1000;
    margin-top: 2.188rem; /*35px;*/
}
.tags-list .tag-entry {
    margin: 0 0 0.9375rem 1.5625rem;
    font-size: 1.125rem;
}
.tags-list .tag-entry a {
    font-size: 1.25rem;
}
.tags-list .tag-entry .entry-date {
    color: #808080;
    font-style: italic;
    font-size: 1rem;
}

footer {
    background-color: #eaeaea;
    border-top: 1px #eaeaea solid;
    font-size: 0.875rem;
    margin-top: 3.125rem;
    padding: 1.875rem 0;
}
footer .list-inline {
    margin: 0;
    padding: 0;
    margin-bottom: 1.875rem;
}

/* Unathorized page */
.notfound {
    left: 50%;
    max-width: 410px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.notfound h1 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 180px;
    font-weight: 400;
}
.notfound p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .page-header .title h1 {
        font-size: 80px;
    }

    .sidebar-container {
        padding-left: 5%;
    }

    footer {
        padding: 3.125rem 0;
    }
    footer .footer-links {
        font-size: 1.125rem;
    }
    footer .copyright {
        font-size: 1rem;        
    }

    .post-preview .post-title {
        font-size: 2.25rem;
    }
    
    .pagination > .page-item > .page-link {
        padding: 0.9375rem 1.5625rem;
    }

    .notfound h1 {
        font-size: 250px;
    }
}

@media only screen and (min-width: 960px) {
    .page-header .title {
        padding: 106px 0;
    }
}
