body, html {
    height: 100%;
    position: relative;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-floating {
    background: none;
    border: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }

.page-header {
    background: no-repeat center center;
    background-attachment: scroll;
    background-color: #808080;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.page-header .title {
    color: white;
    padding: 85px 0 55px;
    text-align: center;
}

.page-header .title h1 {
    font-size: 50px;
    margin-top: 0;
}

.page-header .subtitle {
    display: block;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.1;
    margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
    .page-header {
        margin-bottom: 20px;
    }
    .page-header .title {
        padding: 150px 0;
    }
    .page-header .title h1 {
        font-size: 80px;
    }
}
