body, html {
    height: 100%;
    position: relative;
}
body {
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}
body a {
    color: #404040;
}
body a:focus,
body a:hover {
  text-decoration: none;
  color: #0085A1;
}

.navbar-floating {
    background: none;
    border: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

.page-header {
    background: no-repeat center center;
    background-attachment: scroll;
    background-color: #808080;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
.page-header .title {
    color: white;
    padding: 85px 0 55px;
    text-align: center;
}
.page-header .title h1 {
    font-size: 50px;
}

.main-container .intro-header {
    color: #404040;
    font-size: 1.6875rem;
    line-height: 1.1;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
    font-weight: 400;
}

.sidebar-container {
    color: #808080;
}
.sidebar-container hr {
    color: #eee;
}
.sidebar-container .short-about img {
    width: 100%;
    display: block;
    border-radius: 5px;
    margin-bottom: 20px;
}

footer {
    background-color: #eaeaea;
    border-top: 1px #eaeaea solid;
    font-size: 0.875rem;
    margin-top: 3.125rem;
    padding: 1.875rem 0;
}
footer .list-inline {
    margin: 0;
    padding: 0;
    margin-bottom: 1.875rem;
}

.text-shadow {
    text-shadow: 2px 2px 8px #000;
}

.post-preview {
    border-bottom: 1px solid #eee;
}
.post-preview .post-title {
    font-weight: 800;
    margin-top: 0;
}
.post-preview .post-subtitle {
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
    font-weight: 300;
}
.post-preview .post-meta {
    color: #808080;
    font-size: 1.125rem;
    font-style: italic;
    margin: 0 0 0.625rem;
    font-family: 'Lora', 'Times New Roman', serif;
}
.post-preview .post-read-more {
    font-weight: 800;
}
.post-preview .blog-tags {
    color: #808080;
    font-size: 0.9375rem;
}

@media only screen and (min-width: 768px) {
    .page-header .title {
        padding: 150px 0;
    }
    .page-header .title h1 {
        font-size: 80px;
    }

    .sidebar-container {
        padding-left: 5%;
    }

    footer {
        padding: 3.125rem 0;
    }
    footer .footer-links {
        font-size: 1.125rem;
    }
    footer .copyright {
        font-size: 1rem;
    }

    .post-preview .post-title {
        font-size: 2.25rem;
    }
}
