_site/

# custom
reference.txt
_posts/welcome-to-jekyll.markdown

# jekyll:
.sass-cache/
.jekyll-cache/
.jekyll-metadata/
gemfiles/
Gemfile
Gemfile.lock
node_modules/
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/