---
layout: page
about-title: "Ronel Zapata"
about-subtitle: "Hey, I'm"
header-img: assets/images/image-avatar.jpg
large-header: true
about-me: "Hi, my name is Ronel José Zapata Beltrán. I'm full-stack developer working on data analytics and business intelligence projects delivering impactful, robust and reliable engineering products in the oil and energy field, working in projects with companies of all sizes and shapes.
<br /><br />
I love participing in new challenging projects using cutting edge technologies, getting out of my comfort zone. I hold a degree on Computing Engineer by the Universidad de Oriente in Venezuela and several certifications on SQL Server, Azure and .NET developer. My hobby is Taekwondo, training since 24 years ago to this day."
#current-projects:
#    - title: "Project 1"
#      text: "Project 1 text"
#      url: "https://project-1.com/"
timeline:
    - date: May 2020
      text: "Started a new project with Sentinel Peak Resources as the project technical leader"
    - date: February 2020
      text: "Started a new project with Total EP Barnett as the project technical leader"
    - date: January 2020
      text: "Earned certification: <a href='https://www.youracclaim.com/badges/a2e7dd0f-4600-407f-987a-2cd6231cc2a6/public_url' target='_blank' title='Microsoft certification'>Azure Administrator Associate</a>"
    - date: June 2018
      text: "Moved to the US into working at Exxon Mobil HQ (The Woodlands, TX) as an external company consultant on-site"
    - date: July 2017
      text: "Earned 4<sup>th</sup> Dan in Taekwondo with best attitude award and 2<sup>nd</sup> best overall exam"
    - date: September 2016
      text: "Earned certification: <a href='https://www.youracclaim.com/badges/448cc2f4-4237-44f5-a50c-4a824f52eed1/public_url' target='_blank' title='Microsoft certification'>Data Management and Analytics - SQL Server</a>"
    - date: April 2016
      text: "Earned certification: <a href='https://www.youracclaim.com/badges/69830c2f-d15f-44ac-bf3c-48fe084043c7/public_url' target='_blank' title='Microsoft certification'>SQL Server 2012/2014</a>"
    - date: November 2014
      text: "Earned 3<sup>rd</sup> Dan in Taekwondo"
    - date: September 2011
      text: "Moved to México into working at PEMEX Región Sur as an external company consultant on-site"
    - date: October 2010
      text: "Started working at World Tire Consultores in Venezuela as a System Analyst and SAP Business One consultant"
    - date: August 2009
      text: "Started working at Servitalentos del Centro in Venezuela as a System Analyst and SAP Basis consultant"
    - date: May 2009
      text: "Earned a Computing Engineer's degree at the Universidad de Oriente in Venezuela"
not-used: "Computing Engineer / Tireless Student / Taekwondo master"
---

{% if page.about-me %}
<section class="about-me bg-light py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="text-center">About me</h2>
                <p class="text-justify">
                    {{ page.about-me }}
                </p>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% if page.current-projects %}
<section class="current-projects bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Current Projects</h1>

                <div class="row">
                    {% for project in page.current-projects %}
                    <div class="col-12 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    {% if project.url %}
                                    <a href="{{ project.url }}" target="_blank">{{ project.title }}</a>
                                    {% else %}
                                    {{ project.title }}
                                    {% endif %}
                                </h4>
                                {% if project.text %}<p class="card-text">{{ project.text }}</p>{% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
<section class="main-container mb-3">
    <div class="container">
        <div class="row">
            <div class="col text-center mt-2 mt-md-3">
                <h2>My journey</h2>
                <ul class="timeline m-0 p-0 w-50">
                    {% for event in page.timeline %}
                    <li class="my-4 position-relative">
                        <p class="p-3 rounded text-center">{{ event.text }}</p>
                        <span class="position-absolute font-weight-bold text-info">{{ event.date | date: "%B %Y" }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>