---
layout: page
description: "Full-Stack .NET Developer<span class='d-none d-lg-inline'>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span><span class='d-block d-lg-inline'>Software Engineer enthusiast</span>"
intro-header: "Coding exercises and projects on GitHub"
sidebar: true
sidebar-about-description: "Dreams don't work unless you take action. The surest way to make your dreams come true is to live them."
sidebar-avatar: /assets/images/image-avatar.jpg      # use absolute URL, seeing it's used in both `/` and `/about/`
---

{% for post in paginator.posts %}
<article class="py-2 py-md-4  post-preview">
    <a href="{{ post.url | relative_url }}">
        <h3 class="post-title">{{ post.title }}</h3>
    </a>
    {% if post.subtitle %}
    <h5 class="post-subtitle">
        {{ post.subtitle }}
    </h5>
    {% endif %}
    <p class="post-meta">
        Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
        {% if post.image %}
        <div class="post-image">
            <a href="{{ post.url | relative_url }}">
                <img src="{{ post.image | relative_url }}">
            </a>
        </div>
        {% endif %}
        <p class="post-entry">
            {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
            {% assign excerpt_word_count = post.excerpt | number_of_words %}
            {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
            <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
            {% endif %}
        </p>
    </div>

    {% if post.tags and post.tags.size > 0 %}
    <p class="blog-tags">
        Tags:
        {% for tag in post.tags %}
        <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
        {% endfor %}
    </p>
    {% endif %}

</article>
{% endfor %}

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
    {% if paginator.next_page %}
    <li class="previous">
        <a href="{{ paginator.next_page_path | relative_url }}">&larr; Older Projects</a>
    </li>
    {% endif %}
    {% if paginator.previous_page %}
    <li class="next">
        <a href="{{ paginator.previous_page_path | relative_url }}">Newer Projects &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}


