<nav class="navbar navbar-expand-md fixed-top navbar--color--ghost py-4 navbar-dark" 
data-startColor="navbar--color--ghost navbar-dark" data-startSize="py-4" 
data-intoColor="navbar-light bg-light" data-intoSize="py-3" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand d-flex flex-wrap align-items-center" href="{{ site.baseurl }}/">
                {% if site.title %}
                <img class="d-inline-block align-top img-fluid" src="{{ site.baseurl }}/assets/images/header-logo.png" title="Home" >
                {% endif %}
                <span class="d-none d-md-inline" style="margin-left: .5rem;">{{ site.title }}</span>
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-collapsible-navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="header-collapsible-navbar">
            <ul class="nav navbar-nav ml-auto text-right">
                {% for nav_page in site.nav_pages %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ nav_page.url | prepend: site.baseurl }}">{{ nav_page.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>