<nav
  class="navbar navbar-expand-md fixed-top navbar-color-ghost py-4 navbar-dark"
  data-startcolor="navbar-color-ghost navbar-dark"
  data-startsize="py-4"
  data-openmenustartsize="pt-4 pb-2"
  data-intocolor="navbar-light bg-light"
  data-intosize="py-3"
  data-openmenuintosize="pt-3 pb-2"
  role="navigation"
>
  <div class="container-fluid">
    <a class="navbar-brand d-flex flex-wrap align-items-center" href="{{ site.baseurl }}/">
      {% if site.title %}
      <img
        class="d-inline-block align-top img-fluid"
        src="{{ site.baseurl }}/assets/images/header-logo.webp"
        alt="{{ site.title }}"
        title="Home"
      />
      {% endif %}
      <span class="d-none d-md-inline" style="margin-left: 0.5rem">{{ site.title }}</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#header-collapsible-navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="header-collapsible-navbar">
      <ul class="navbar-nav ms-auto text-end">
        {% for nav_page in site.nav_pages %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ nav_page.url | prepend: site.baseurl }}"
            >{{ nav_page.title }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
