html {
    height: 100%;
}
body, html {
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: relative;
}
body {
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
    overflow: auto;
}

.text-shadow {
    text-shadow: 2px 2px 8px #000;
}

.post-preview a,
.sidebar-container a,
.footer-links a {
    color: #404040;
}
.post-preview a:focus, .post-preview a:hover,
.sidebar-container a:focus, .sidebar-container a:hover,
.footer-links a:focus, .footer-links a:hover,
.blog-tags a:focus, .blog-tags a:hover {
  color: #0085A1;
}

/* ===================================== */
/* =============== NAVBAR ============== */
/* ===================================== */
.navbar {
    border: none;
    transition: 0.4s;
}
.navbar-brand {
    padding: unset;
}
.navbar--color--ghost {
    background: rgba(0,0,0,0.2);
    text-shadow: 2px 2px 8px #000;
}
div.overlay.navbar-collapse.show {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    background-color: black;
}

/* ===================================== */
/* ============= PAGE-HEADER =========== */
/* ===================================== */
.page-header {
    background: no-repeat center;
    background-color: #336699;
    background-size: cover;
    position: relative;
}
.page-header .title {
    color: white;
    padding: 85px 0 55px;
    text-align: center;
}
.page-header .title-large {
    padding: 170px 0 150px;
}
.page-header.header-big-imgs-padding .title {
    padding: 156px 0 55px;
}
.page-header .title h1 {
    font-size: 50px;
    margin: auto;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
}
.page-header .title h1.about-title:before,
.page-header .title h1.about-title:after {
    background-color: #fff;
    content: " ";
    height: 2px;
    zoom: 1;
}
.page-header .title h1.about-title:after {
    margin: 15px auto 5px;
    position: relative;
    width: 80px;
    top: 0;
    left: 0;
    display: block;
}
.page-header .title .btn-outline-success {
    color: #fff;
}

.wrapper {
    overflow: hidden;
    position: relative;
}

.main-container {
    margin-bottom: 3.125rem;
}
.main-content .intro-header {
    color: #404040;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
    font-weight: 400;
}

.sidebar-container {
    color: #808080;
}
.sidebar-container hr {
    color: #eee;
}
.sidebar-container .short-about img {
    width: 100%;
    display: block;
    border-radius: 5px;
    margin-bottom: 20px;
}

.blog-post p > img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
}
.blog-post h1, .blog-post h2, .blog-post h3, 
.blog-post h4, .blog-post h5, .blog-post h6 {
    color: #336699;
}

.post-preview {
    border-bottom: 1px solid #eee;
}
.post-preview .post-title {
    color: #336699;
}
.post-preview .post-subtitle {
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
    font-weight: 300;
}
.post-preview .post-meta {
    color: #5e9516;
    margin: 0 0 0.625rem;
}
.post-preview .post-read-more {
    font-weight: 800;
}
.blog-tags {
    font-size: 0.9375rem;
}
.blog-tags,
.blog-tags a {
    color: #808080;
}

.pagination > .page-item > .page-link {
    color: #404040;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase;
}
.pagination > .page-item.next {
    margin-left: auto;
}

table > thead > tr > th {
    color: #606c71
}

table.table-display-block {
    display: block;
    border: unset;
}

code {
    color: #444;
    white-space: nowrap;
}
code, tt {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 2px;
    padding: 0px 5px;
}

.tags-list h2 {
    font-weight: 1000;
    margin-top: 2.188rem; /*35px;*/
}
.tags-list .tag-entry {
    margin: 0 0 0.9375rem 1.5625rem;
    font-size: 1.125rem;
}
.tags-list .tag-entry a {
    font-size: 1.25rem;
}
.tags-list .tag-entry .entry-date {
    color: #808080;
    font-style: italic;
    font-size: 1rem;
}

footer {
    background-color: #eaeaea;
    border-top: 1px #eaeaea solid;
    font-size: 0.875rem;
    padding: 1.875rem 0;
}
footer .list-inline {
    margin: 0;
    padding: 0;
    margin-bottom: 1.875rem;
}

/* Unathorized page */
.notfound-container {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
}
.notfound {
    left: 50%;
    max-width: 410px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.notfound h1 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 160px;
    font-weight: 400;
}
.notfound h1.offline-header {
    font-size: 90px;
}
.notfound p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    body.menu-open {
        overflow: hidden;
    }
    body.menu-open:after {
        background: rgba(0,0,0,0.4);
        bottom: 0;
        content: '';
        display: block;
        height: 100%;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }
}

@media only screen and (min-width: 768px) { /* col-md */
    .page-header .title-large {
        padding: 306px 0;
    }
    .page-header .title h1 {
        font-size: 80px;
    }
    .page-header .title h1.about-title:before,
    .page-header .title h1.about-title:after {
        position: absolute;
        top: 50%;
        width: 50px;
        margin: 0 10px;
        display: inline-block;
    }
    .page-header .title h1.about-title:before {
        right: 100%;
    }
    .page-header .title h1.about-title:after {
        left: 100%;
    }

    .page-header .img-desc {
        font-size: 0.875rem;
    }

    .sidebar-container {
        padding-left: 5%;
    }

    footer {
        padding: 3.125rem 0;
    }
    footer .footer-links {
        font-size: 1.125rem;
    }
    footer .copyright {
        font-size: 1rem;        
    }

    .post-preview .post-title {
        font-size: 2.25rem;
    }
    
    .pagination > .page-item > .page-link {
        padding: 0.9375rem 1.5625rem;
    }

    .notfound h1 {
        font-size: 250px;
    }
}

@media only screen and (min-width: 992px) { /* col-lg */
    .page-header .title {
        padding: 106px 0;
    }
    .page-header .title-large {
        padding: 356px 0;
    }
}

@media only screen and (min-width: 1200px) { /* col-xl */
    .page-header .title {
        padding: 156px 0;
    }
    .page-header .title-large {
        padding: 406px 0;
    }
}
