---
layout: home
---

<header class="page-header mb-2 mb-md-3"
    style="background-image:
        {% if layout.header-gradient %} {{ layout.header-gradient-color }}; background-color: {{ layout.header-base-color }};
        {% elsif page.header-img %} url('{{ site.baseurl }}/{{ page.header-img }}');
        {% else %} url('{{ site.baseurl }}/{{ site.header-img }}'); {% endif %}">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-10 offset-lg-1">
                <div class="title{% if page.large-header %} title-large{% endif %} text-shadow">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    {% if page.description %}<h4>{{ page.description }}</h4>{% endif %}
                    {% if layout.post-date %}<p>Posted on {{ page.date | date: "%B %-d, %Y" }}</p>{% endif %}
                    {% if layout.header-button %}
                    <a href="https://github.com/{{ page.gh-repo }}/" target="_blank" class="btn btn-lg btn-outline-success">{{ layout.header-button-content }}</a>
                    {% endif %}                                      
                </div>
            </div>
        </div>
        {% if page.about-img %}<span class="img-desc"></span>{% endif %}
    </div>
</header>

<div class="container main-container">
    <div class="row">
        {% if page.sidebar %}
        <div class="col-12 col-md-8 offset-md-1 main-content">
            {% if paginator.page == 1 and page.intro-header %}
            <h4 class="intro-header text-center">
                {{ page.intro-header }}
            </h4>
            {% endif %}
            {{content }}
        </div>
        <div class="col-12 col-md-3 pl-none sidebar-container">
            <section>
                <hr class="d-none d-md-block" />
                <h5 class="mt-3 mt-md-none">
                    <a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a>
                </h5>
                <div class="short-about">
                    {% if page.sidebar-avatar %}
                    <a href="{{ site.baseurl }}/about">
                        <img class="shadow bg-white" src="{{ page.sidebar-avatar }}" />
                    </a>
                    {% endif %}
                    {% if page.sidebar-about-description %}
                    <p>{{page.sidebar-about-description}}</p>
                    {% endif %}
                </div>
            </section>
        </div>
        {% else %}
        <div class="col-12 col-md-10 offset-md-1 main-content">
            {% if paginator.page == 1 and page.intro-header %}
            <div class="intro-header text-center">
                {{ page.intro-header }}
            </div>
            {% endif %}
            {{ content }}
        </div>
        {% endif %}
    </div>
</div>