---
layout: home
---

<header class="page-header"
    style="background-image:
        {% if layout.header-gradient %} {{ layout.header-gradient-color }}; background-color: {{ layout.header-base-color }};
        {% elsif page.header-img %} url('{{ site.baseurl }}/{{ page.header-img }}');
        {% else %} url('{{ site.baseurl }}/{{ site.header-img }}'); {% endif %}">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-10 offset-lg-1">
                <div class="title{% if page.large-header %} title-large{% endif %} text-center text-shadow">
                    {% if page.about-title %}
                        {% if page.about-subtitle %}<h4><i>{{ page.about-subtitle }}</i></h4>{% endif %}
                        <h1 class="about-title">{{ page.about-title }}</h1>
                    {% else %}
                        <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                        {% if page.description %}<h4>{{ page.description }}</h4>{% endif %}
                        {% if layout.post-date %}<p>Posted on {{ page.date | date: "%B %-d, %Y" }}</p>{% endif %}
                        {% if layout.header-button %}
                            <a href="https://github.com/{{ page.gh-repo }}/" target="_blank" 
                                class="btn btn-lg btn-outline-success">{{ layout.header-button-content }}
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% if page.about-img %}<span class="img-desc"></span>{% endif %}
    </div>
</header>
{{ content }}